/* :root {
  --cds-grid-breakpoints: (
    sm: 480px,
    md: 672px,
    lg: 1056px,
    xlg: 1312px,
    max: 1584px
  );
} */


.bx--header{
  background: rgb(5,0,93) !important;
  background: linear-gradient(90deg, rgba(5,0,93,1) 0%, rgba(0,53,186,1) 53%, rgba(6,0,112,1) 100%) !important;
    color: #ffffff !important;
}


.bx--date-picker {
    width: 100%;
  }
.bx--date-picker-container {
    width: 100%;
  }
.flatpickr-wrapper {
    width: 100%;
  }
.bx--content {
    max-width: 900px;
  }
  /* Custom styles for columns */
.custom-stack-columns {
    display: flex;
    flex-direction: row;
  }

  @media (max-width: 480px) {
  .custom-stack-columns {
      flex-direction: column;
    }

  .custom-stack-columns > .bx--col {
      width: 100%;
      max-width: 100%;
      flex: 0 0 100%;
    }
  }
